*.cache/*
*.hw/*
*.ip_user_files/*
Tproclocal/Tproclocal.xpr
Tproclocal/Tproclocal.sim/sim_1/behav/xsim/xvlog.pb
Tproclocal/Tproclocal.sim/sim_1/behav/xsim/xvlog.log
Tproclocal/Tproclocal.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/xil_defaultlib.rlx
Tproclocal/Tproclocal.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/true_dpram_sclk.sdb
Tproclocal/Tproclocal.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/top_fsm.sdb
Tproclocal/Tproclocal.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/top.sdb
Tproclocal/Tproclocal.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/tb_top.sdb
Tproclocal/Tproclocal.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/syn_fifo.sdb
Tproclocal/Tproclocal.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/scratchpad_mem.sdb
Tproclocal/Tproclocal.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/scratchpad_feature_mem.sdb
Tproclocal/Tproclocal.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/instruction_decode.sdb
Tproclocal/Tproclocal.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/instr_fetch.sdb
Tproclocal/Tproclocal.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/i_weight_fetch.sdb
Tproclocal/Tproclocal.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/i_feature_fetch.sdb
Tproclocal/Tproclocal.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/feature_load.sdb
Tproclocal/Tproclocal.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/asymmetric_fifo.sdb
Tproclocal/Tproclocal.sim/sim_1/behav/xsim/xsim.dir/tb_top_behav/xsimkernel.log
Tproclocal/Tproclocal.sim/sim_1/behav/xsim/xsim.dir/tb_top_behav/xsimk.exe
Tproclocal/Tproclocal.sim/sim_1/behav/xsim/xsim.dir/tb_top_behav/xsim.xdbg
Tproclocal/Tproclocal.sim/sim_1/behav/xsim/xsim.dir/tb_top_behav/xsim.rtti
Tproclocal/Tproclocal.sim/sim_1/behav/xsim/xsim.dir/tb_top_behav/xsim.rlx
Tproclocal/Tproclocal.sim/sim_1/behav/xsim/xsim.dir/tb_top_behav/xsim.reloc
Tproclocal/Tproclocal.sim/sim_1/behav/xsim/xsim.dir/tb_top_behav/xsim.mem
Tproclocal/Tproclocal.sim/sim_1/behav/xsim/xsim.dir/tb_top_behav/xsim.dbg
Tproclocal/Tproclocal.sim/sim_1/behav/xsim/xsim.dir/tb_top_behav/webtalk/xsim_webtalk.tcl
Tproclocal/Tproclocal.sim/sim_1/behav/xsim/xsim.dir/tb_top_behav/webtalk/usage_statistics_ext_xsim.xml
Tproclocal/Tproclocal.sim/sim_1/behav/xsim/xsim.dir/tb_top_behav/webtalk/usage_statistics_ext_xsim.html
Tproclocal/Tproclocal.sim/sim_1/behav/xsim/xsim.dir/tb_top_behav/webtalk/.xsim_webtallk.info
Tproclocal/Tproclocal.sim/sim_1/behav/xsim/xsim.dir/tb_top_behav/obj/xsim_1.win64.obj
Tproclocal/Tproclocal.sim/sim_1/behav/xsim/xsim.dir/tb_top_behav/obj/xsim_1.c
Tproclocal/Tproclocal.sim/sim_1/behav/xsim/xsim.dir/tb_top_behav/obj/xsim_0.win64.obj
Tproclocal/Tproclocal.sim/sim_1/behav/xsim/xelab.pb
Tproclocal/Tproclocal.sim/sim_1/behav/xsim/webtalk_7356.backup.log
Tproclocal/Tproclocal.sim/sim_1/behav/xsim/webtalk_7356.backup.jou
Tproclocal/Tproclocal.sim/sim_1/behav/xsim/webtalk_2676.backup.log
Tproclocal/Tproclocal.sim/sim_1/behav/xsim/webtalk_2676.backup.jou
Tproclocal/Tproclocal.sim/sim_1/behav/xsim/webtalk_17032.backup.log
Tproclocal/Tproclocal.sim/sim_1/behav/xsim/webtalk_17032.backup.jou
Tproclocal/Tproclocal.sim/sim_1/behav/xsim/webtalk_14892.backup.log
Tproclocal/Tproclocal.sim/sim_1/behav/xsim/webtalk_14892.backup.jou
Tproclocal/Tproclocal.sim/sim_1/behav/xsim/webtalk.log
Tproclocal/Tproclocal.sim/sim_1/behav/xsim/webtalk.jou
Tproclocal/Tproclocal.sim/sim_1/behav/xsim/tb_top_behav.wdb
Tproclocal/Tproclocal.sim/sim_1/behav/xsim/simulate.log
Tproclocal/Tproclocal.sim/sim_1/behav/xsim/simulate.bat
Tproclocal/Tproclocal.sim/sim_1/behav/xsim/elaborate.log
Tproclocal/Tproclocal.sim/sim_1/behav/xsim/elaborate.bat
Tproclocal/Tproclocal.sim/sim_1/behav/xsim/compile.log
Tproclocal/Tproclocal.sim/sim_1/behav/xsim/compile.bat
Tproclocal/Tproclocal.runs/synth_1/vivado.pb
Tproclocal/Tproclocal.runs/synth_1/vivado.jou
Tproclocal/Tproclocal.runs/synth_1/runtime_cnt_utilization_synth.rpt
Tproclocal/Tproclocal.runs/synth_1/runtime_cnt_utilization_synth.pb
Tproclocal/Tproclocal.runs/synth_1/runtime_cnt.vds
Tproclocal/Tproclocal.runs/synth_1/runtime_cnt.tcl
Tproclocal/Tproclocal.runs/synth_1/runtime_cnt.dcp
Tproclocal/Tproclocal.runs/synth_1/runme.sh
Tproclocal/Tproclocal.runs/synth_1/runme.log
Tproclocal/Tproclocal.runs/synth_1/runme.bat
Tproclocal/Tproclocal.runs/synth_1/rundef.js
Tproclocal/Tproclocal.runs/synth_1/project.wdf
Tproclocal/Tproclocal.runs/synth_1/ISEWrap.sh
Tproclocal/Tproclocal.runs/synth_1/ISEWrap.js
Tproclocal/Tproclocal.runs/synth_1/htr.txt
Tproclocal/Tproclocal.runs/synth_1/gen_run.xml
Tproclocal/Tproclocal.runs/synth_1/__synthesis_is_complete__
Tproclocal/Tproclocal.runs/synth_1/.Vivado_Synthesis.queue.rst
Tproclocal/Tproclocal.runs/synth_1/.vivado.end.rst
Tproclocal/Tproclocal.runs/synth_1/.vivado.begin.rst
Tproclocal/Tproclocal.runs/.jobs/vrs_config_5.xml
Tproclocal/Tproclocal.cache/wt/xsim.wdf
Tproclocal/Tproclocal.cache/wt/webtalk_pa.xml
Tproclocal/Tproclocal.cache/wt/synthesis_details.wdf
Tproclocal/Tproclocal.cache/wt/project.wpc
Tproclocal/Tproclocal.cache/wt/java_command_handlers.wdf
Tproclocal/Tproclocal.cache/wt/gui_handlers.wdf
testip_cnt/xgui/runtime_cnt_v1_0.tcl
testip_cnt/tmp_edit_project.xpr
testip_cnt/tmp_edit_project.srcs/sources_1/bd/design_1/design_1.bxml
testip_cnt/tmp_edit_project.srcs/sources_1/bd/design_1/design_1.bd
testip_cnt/tmp_edit_project.hw/tmp_edit_project.lpr
testip_cnt/tmp_edit_project.cache/wt/webtalk_pa.xml
testip_cnt/tmp_edit_project.cache/wt/project.wpc
testip_cnt/tmp_edit_project.cache/wt/java_command_handlers.wdf
testip_cnt/tmp_edit_project.cache/wt/gui_handlers.wdf
*.wdf
*.jou
*.log
*.jou
