*cache/*
*.hw/*
*.ip_user_files/*
*.sdb
*.pb
*.log
*Tproclocal/Tproclocal.cache/*
*Tproclocal/Tproclocal.sim/*
Tproclocal/Tproclocal.xpr
testip_cnt/xgui/runtime_cnt_v1_0.tcl
testip_cnt/tmp_edit_project.xpr
testip_cnt/tmp_edit_project.srcs/sources_1/bd/design_1/design_1.bxml
testip_cnt/tmp_edit_project.srcs/sources_1/bd/design_1/design_1.bd
testip_cnt/tmp_edit_project.hw/tmp_edit_project.lpr
testip_cnt/tmp_edit_project.cache/wt/webtalk_pa.xml
testip_cnt/tmp_edit_project.cache/wt/project.wpc
testip_cnt/tmp_edit_project.cache/wt/java_command_handlers.wdf
testip_cnt/tmp_edit_project.cache/wt/gui_handlers.wdf
*.wdf
*.jou
*.log
*.jou

